.inputDiv {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: xx-large;
}
.addBtn {
  font-size: xx-large;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.addBtn:hover {
  cursor: pointer;
}
.inpF {
  width: 600px;
  margin-left: 5px;
}
